@model KooliProjekt.Models.Prediction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Prediction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MatchId" class="control-label"></label>
                <input asp-for="MatchId" class="form-control" />
                <span asp-validation-for="MatchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PredictedScoreFirstTeam" class="control-label"></label>
                <input asp-for="PredictedScoreFirstTeam" class="form-control" />
                <span asp-validation-for="PredictedScoreFirstTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PredictedScoreSecondTeam" class="control-label"></label>
                <input asp-for="PredictedScoreSecondTeam" class="form-control" />
                <span asp-validation-for="PredictedScoreSecondTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Punktid" class="control-label"></label>
                <input asp-for="Punktid" class="form-control" />
                <span asp-validation-for="Punktid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
